# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
.venv/
venv/
env/

# Editors
.vscode/
.idea/
*.swp

# OS
Thumbs.db
desktop.ini
.DS_Store

# Project outputs
out/
exports/
*.coe
*.mif
*.png
*.svg
!docs/**/*.png
!docs/**/*.svg
